/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Gilory';
    src: url(Gilory.otf);
}

:root {
    --color-headings: #022A5D;
    --color-subheadings: #F77F00;
    --color-description: #33333380;



}

html {
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}


/* Navigation Bar: List Styling */
.item {
    margin-left: 27px;
}


.nav-list {
    display: flex;


}

.nav-list li {
    list-style: none;
    font-size: 1.3rem;
}

.nav-list li a {
    color: #022A5D;
    display: block;
    padding: 3px 22px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-list li a:hover {
    color: white;
    background-color: orange;
}



.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}



@media only screen and (max-width: 1140px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        transition: all 0.7s ease-out;
    }

    .nav-list li a {

        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;

    }


    .burger {
        display: block;

    }

    .burger .line {
        background-color: #F77F00;
    }

    .h-nav-resp {
        height: 72px;
    }

    .v-class-resp {
        opacity: 0;
    }


}






.section {
    width: 100%;
}

.section-one {
    height: 426px;
    border-top: 2px solid lightgrey;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section h1 {
    color: var(--color-headings);

    font-weight: 600;
    font-size: 65px;
    line-height: 91.78px;
}

.section h2 {
    color: var(--color-headings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 91.78px;
}

.section h3 {
    color: var(--color-subheadings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25.24px;
}

.section h6 {
    color: var(--color-description);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 1rem;
}

.section .btn {
    width: 258px;
    height: 56px;
    padding: 16px, 72px, 16px, 72px;
    border-radius: 8px;
    background: #F77F00;
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.section .btn:hover {
    background-color: #022A5D;
    color: white;
}

.content {
    padding-left: 10rem;
    padding-top: 4rem;
}

.section-two {
    height: 590px;
    background-color: #F3F7FF;
    display: flex;
    justify-content: space-evenly;

}

.context {
    width: 500px;
    height: 410px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding-left: 2%;



}

.context h5 {
    color: var(--color-subheadings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25.24px;

}

.context h4 {
    color: var(--color-headings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25.24px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 5rem;
}

.context h4::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #022A5D;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left: -90px;

}

.context h6 {
    color: var(--color-description);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 1rem;
}

.context .btn {
    width: 258px;
    height: 56px;
    padding: 16px, 72px, 16px, 72px;
    border-radius: 8px;
    background: #F77F00;
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.context .btn:hover {
    background-color: #022A5D;
    color: white;
}

.context-image {
    width: 570px;
    height: 410px;
    /* border: 2px solid black; */
    margin-top: 5rem;
}

.section-left {
    flex-direction: row-reverse;
    background-color: white;
}

.timeline-one {
    width: 100%;
    height: 70rem;
    background-color: #F3F7FF;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.timeline {
    margin: 5rem auto;
    max-width: 34.15em;
    /* border: 2px solid red; */
    height: 720px;
}

.timeline-two {
    width: 100%;
    height: 70rem;
    background-color: #FFFFFF;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    height: 213px;


}


.checkpoint div {

    border-radius: 1em;
    padding: 1.5em;

}

.checkpoint .div-left {

    padding-left: 13rem;
}

.checkpoint p {
    line-height: 27px;

}

.checkpoint:nth-child(odd) {
    border-left: 3px solid #022A5D;
    padding-left: 3em;
    transform: translateX(17em);
    margin-bottom: 1.4rem;

}

.checkpoint:nth-child(even) {
    border-right: 3px solid #022A5D;
    padding-right: 3em;
    transform: translateX(-17em);
    margin-bottom: 1.4rem;


}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before,
.checkpoint:nth-child(odd)::after,
.checkpoint:nth-child(even)::after {
    content: "";
    width: 200px;
    height: 0;
    position: absolute;
    top: 14rem;
    margin-left: 0.7rem;
    transform: translateY(-50%);
    border: none;
    border-top: 2px dotted #022A5D;

}

.checkpoint:nth-child(odd)::after {
    content: "";
    width: 20px;
    height: 50px;
    position: absolute;
    top: 12.5rem;
    left: 12.5rem;
    border: none;
    border-left: 2px dotted #022A5D;

}

.checkpoint:nth-child(even)::after {
    content: "";
    width: 20px;
    height: 50px;
    position: absolute;
    top: 12.5rem;
    right: 11.2rem;
    border: none;
    border-left: 2px dotted #022A5D;
}





.checkpoint:nth-child(odd)::before {
    left: 0.1rem;

}

.checkpoint:nth-child(even)::before {
    right: 0;

}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: "";
    background: white;
    border: 3.5px solid #F77F00;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    top: -0.7rem;
    left: -0.6rem;
}

.checkpoint:nth-child(even) div::before {
    top: -0.7rem;
    right: -0.6rem;
}


.checkpoint-final::before,
.checkpoint-final::after {
    display: none;
    /* Hide the pseudo-elements */
}

.checkpoint-final div {

    border: none;
    width: 0.8em;
    height: 0.8em;
    margin-left: 30.8rem;
    margin-top: -10.5px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(even):not(:nth-child(2)) {
    border-right: none;
    /* Remove the right border */
}


.checkpoint div {
    transition: font-size 0.3s;
    /* Transition font-size within the div */
}




.checkpoint .zoom:hover {
    transform: scale(1.5);
    transform-origin: center;

}

.checkpoint h3,
.checkpoint p {
    transition: font-size 0.3s, transform 0.3s, line-height 0.3s;
    white-space: nowrap;
}

.checkpoint:hover h3,
.checkpoint:hover p {
    font-size: 130%;
    line-height: 1.2;
    transform: scale(1.1);
}

.double-line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blue {
    z-index: 1;
    margin-bottom: -1rem;

}

.yellow {
    height: 6px;
    z-index: 2;
    margin-top: 12px;

}

.container .btn {
    width: 258px;
    height: 56px;
    padding: 16px, 72px, 16px, 72px;
    border-radius: 8px;
    background: #F77F00;
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.container .btn:hover {
    background-color: #022A5D;
    color: white;
}

.container h2 {
    color: var(--color-headings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 91.78px;
}

.container-bg {

    height: 900px;

    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.container-bg h1 {

    color: var(--color-headings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 25.24px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 5rem;
    padding-left: 6rem;
}

.container-bg h1::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #022A5D;
    position: relative;
    top: 19px;
    transform: translateY(-50%);
    left: -85px;

}

.container-bg h3 {

    color: var(--color-headings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 25.24px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 6rem;
    margin-top: 3rem;

}


.container-bg h6 {
    color: var(--color-description);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 1rem;
    padding-left: 8rem;
    position: relative;
    margin-top: -3rem;

}

.container-bg h6::before {
    content: "";
    display: block;
    width: 2px;
    height: 80px;
    background: #022A5D;
    position: relative;
    top: 80px;
    left: -20px;

}

.container-bg p {
    color: var(--color-description);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 3rem;
    padding-left: 6rem;

}


.container-bg .btn {
    width: 258px;
    height: 56px;
    padding: 16px, 72px, 16px, 72px;
    margin-left: 7rem;
    border-radius: 8px;
    background: #F77F00;
    color: white;
    border: none;
    margin-top: 2rem;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.container-bg .btn:hover {
    background-color: #022A5D;
    color: white;
}

.container-text {

    margin-top: 8rem;
}

.car {
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    background-image: url(../images/carousel.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.car h2 {
    color: var(--color-headings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 36px;

    text-align: left;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.carousel {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    margin-top: 4rem;
    white-space: nowrap;
}

.carousel-inner {
    text-align: center;
    padding-top: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 80px;

    height: 80px;

}

.carousel-control-prev,
.carousel-control-next {
    top: auto;
    /* Reset the top value */
    bottom: 20px;
    /* Position the arrows at the bottom */
}


.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    content: url('../images/previous.png');

}

.carousel-control-next-icon::before {
    content: url('../images/next.png');

}





.carousel-control-prev-icon {
    margin-right: -25px;


}

.carousel-control-next-icon {
    margin-left: -25px;

}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;

}

.carousel-inner h6,
.carousel-inner h3 {
    max-width: 80%;
    text-align: left;


}

.carousel-inner h6 {
    font-size: 16px;

    line-height: 1.5;

}

.carousel-inner h3 {
    font-size: 24px;



}

.carousel-content {
    display: flex;
    align-items: flex-start;
    margin-left: 10rem;

}

.carousel-image img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;


}



.carousel-text {
    display: flex;
    flex-direction: column;
}

.carousel-text h6 {
    font-size: 16px;
    /* Customize the font size */
    color: #333333;
    /* Customize the color */
}

.carousel-text h3 {
    font-size: 14px;
    /* Customize the font size */
    color: #022a5d;
    /* Customize the color */
}

.carousel-text h2 {
    font-size: 8px;
    color: #F77F00;

}

.carousel h6 {
    color: var(--color-description);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}

.car .btn {
    width: 258px;
    height: 56px;
    padding: 16px, 72px, 16px, 72px;
    border-radius: 8px;
    background: #F77F00;
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.car .btn:hover {
    background-color: #022A5D;
    color: white;
}

.carr {
    /* border: solid 2px black; */
    height: 300px;
    width: 80%;
    display: flex;
    justify-content: center;

}

.getstarted {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.getstarted .para {
    margin-top: 3rem;
}

.getstarted h2 {
    color: var(--color-headings);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44.1px;
}

.getstarted p {
    color: var(--color-description);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
}

.getstarted .btn {
    width: 258px;
    height: 56px;
    padding: 16px, 72px, 16px, 72px;
    border-radius: 8px;
    background: #F77F00;
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.getstarted .btn:hover {
    background-color: #022A5D;
    color: white;
}

.footer-one {
    width: 100%;
    height: 300px;
    /* border: 2px solid black; */
    background-color: #022A5D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col-one {
    width: 324px;
    height: 162px;
    /* border: 2px solid black; */
    color: white;
    overflow: hidden;
}

.col-one h3 {
    font-family: 'Gilory';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.col-one p {

    font-weight: 400;
    font-size: 10px;
    line-height: 14.4px;
}

.col-two {
    width: 129px;
    height: 174px;
    /* border: 2px solid black; */
    color: white;
    overflow: hidden;
}

.col-two h3 {
    font-family: 'Gilory';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.list {
    list-style: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
}

.col-three {
    width: 274px;
    height: 181px;
    /* border: 2px solid black; */
    color: white;
    overflow: hidden;
}

.col-three h3 {
    font-family: 'Gilory';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.icon-list {
    list-style: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 14.4px;

}

.icon-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.icon-list i {
    color: #fcfafa;
    margin-right: 10px;

}

.border {
    width: 100%;
    border: 1px solid #FFFFFF;
}

.footer {
    width: 100%;
    background-color: #022A5D;
    color: white;
}

.footer-two {
    display: flex;
    flex-direction: row;
}

.foot-one {
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.foot-two {
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1rem;



}

.bbtn {
    margin-left: 2rem;
}

.follow-icons {
    margin-left: 2rem;
    margin-right: 1rem;

}

.follow-icons i {
    margin-right: 10px;
}

.foot-two input {
    width: 235px;
}

.foot-two button {
    width: 92px;
    height: 27px;
    border-radius: 4px;
    background: #F77F00;
    color: white;
    border: none;
    cursor: pointer;
}






@media screen and (max-width: 1140px) {
    .logo {
        margin: 10px -20px;
        padding-right: 5rem;
    }

    .nav-list li {
        font-size: 20px;
    }


    .section-one {

        background-size: cover;
        background-position: center;

    }


    .content {
        padding-left: 2rem;
        margin-top: -2rem;
    }

    .section h3 {
        font-size: 14px;
        font-weight: 600;

        line-height: 18.24px;
    }

    .section h1 {
        font-size: 27px;
        line-height: 40.78px;
    }

    .section h6 {
        font-weight: 500;
        font-size: 15px;
    }








    .section-two {
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .section-right {
        margin-bottom: -9rem;
    }

    .context {
        width: 560px;
        margin-top: -13rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .context h6 {
        font-size: 10px;
        line-height: 17.6px;
        font-weight: 500;
        text-align: center;
    }

    .info-box {
        width: 380px;
        height: 88px;
        padding: 0.5rem;
        margin-left: 1rem;
    }

    .info-box p {
        font-size: 12px;
    }

    .context-image {
        width: 422px;
        margin-top: 2rem;
    }

    .context-image img {
        width: 400px;
    }

    .section-right {
        height: 1052px;
    }

    .context h3 {
        font-size: 20px;
    }


    /*TIMELINE RESP*/



    .timeline {

        margin-left: -15rem;
    }

    .checkpoint .div-left {
        padding-left: 38rem;
    }


    .checkpoint:hover h3,
    .checkpoint:hover p {
        font-size: 70%;
        line-height: 1.2;
        transform: scale(1.1);

    }


    .checkpoint:nth-child(even) {
        border-right: 3px solid #022A5D;
        padding-right: 34em;
        transform: translateX(-17em);
        margin-bottom: 1.4rem;
    }

    .checkpoint {
        max-width: 6em;
        padding-top: 2em;
        padding-bottom: 2em;
        position: relative;
        height: 213px;
    }

    .checkpoint:nth-child(odd) {

        padding-left: -1em;
    }

    .checkpoint p {
        line-height: 27px;
        font-size: 13px;
    }

    .checkpoint:nth-child(even)::before {
        right: -211px;
    }


    .checkpoint:nth-child(even)::after {

        right: -14.5rem;
    }


    .container .btn {
        margin-top: -4rem;
    }


    .container-bg {
        margin-top: -3rem;
        justify-content: center;
        align-items: center;
    }

    .container-text {
        margin-top: 4rem;
    }

    .container-bg h1 {
        font-size: 20px;
        line-height: 21.24px;
        padding-left: 1rem;

    }

    .container-bg p {
        font-size: 15px;
        line-height: 18.6px;
        padding-left: 1rem;
    }

    .container-bg h3 {
        font-size: 21px;
        line-height: 23.24px;
        padding-left: 1rem;
    }

    .container-bg h6 {
        padding-left: 3rem;
    }

    .getstarted .btn {
        margin-top: 7rem;

    }



    .carousel-content {

        margin-left: 3rem;
    }


    .carousel-content {
        flex-direction: column;
        display: flex;
    }


    .carousel-image img {
        width: 40px;
        margin-left: 5rem;
        height: 40px;

    }


    .carousel h6 {
        color: var(--color-description);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 400;
        font-size: 11px;
        overflow: auto;
        line-height: 17.6px;
    }


    .getstarted {
        width: 100%;
        height: 600px;
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        text-align: center;
    }




    .footer-one {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 550px;
    }

    .col-three {
        margin-top: 1rem;
    }

    .icon-list {
        margin-left: 3rem;
    }

    .footer-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-one {
        /* border: 2px solid black; */
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
    }

    .foot-two {
        /* border: 2px solid black; */
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .foot-two button {

        margin-left: 5rem;
        margin-top: 1rem;
    }

    .follow-icons {
        margin-top: 1rem;
    }




}






@media screen and (max-width: 1416px) {
    .nav-list li {
        font-size: 15px;
    }
}

@media screen and (max-width: 1240px) {
    .nav-list li {
        font-size: 15px;
    }
}




@media screen and (max-width: 500px) {

    .nav-list li {
        font-size: 20px;
    }

    .container-bg .btn {
        margin-left: 4rem;
    }

    .logo img {

        width: 308px;
    }
}

@media screen and (max-width: 376px) and (min-width: 320px) {
    .logo img {
        width: 263px;
        height: 24px;
    }
}